{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}

{% include 'style.html' %}

<style>

	.row{
		margin-left: 10%;
	}

	body{
	background: url("../static/images/background-image.jpg");
	background-position: bottom;
	background-color: #ebeff5;

}

</style>

<body>


<div class="row">
	<div class="col-md-10">
		<h5>Новые заявки</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Task date</th>
					<th>Task description</th>

				</tr>

				{% for task in assistant_tasks %}
					<tr>
                        <td>{{ task.task_date }}</td>
						<td>{{ task.task_description }}</td>


                        <td><a class="btn btn-sm btn-dark" href="{% url 'assistant-left-comment' task.pk %}">Оставить комментарий</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>
</body>
{% endblock %}

