{% extends 'main.html' %}
{% block content %}

    <body>
        <div class="page-header">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% for order in orders %}
                    <div class="post">
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        <h1><a href="">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

    <div class = 'button'>
            <button
                    class="btn btn-primary" type="submit" >
                    Sign in
            </button>
            </div>
    </body>

{% endblock %}