{% extends 'main.html' %}

{% block content %}

<br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5 style="text-align:center">DETECTIVES TABLE</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>First name</th>
                        <th>Surname</th>
                        <th>Status</th>
                        <th>Email address</th>
                        <th>Telephone number</th>
                    </tr>

                    {% for detective in detectives %}
                        <tr>
                            <td>{{ detective.first_name }}</td>
                            <td>{{ detective.surname }}</td>
                            <td>{{ detective.status }}</td>
                            <td>{{ detective.e_email }}</td>
                            <td>{{ detective.tel_number }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}