{% extends 'main.html' %}
{% block content %}
{% include 'status.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_for_tables.css' %}">


<body>
<div class="row">
	<div class="col-md-12">
		<h5 style="text-align:center; color:#2c3333;">Прайслист</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Тип заказа</th>
					<th>Цена</th>
					<th>Дней на выполнение заказа</th>
				</tr>

				{% for type in types %}
					<tr>
                        <td>{{type.type }}</td>
						<td>{{type.price}}</td>
						<td>{{type.expected_days}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

</body>

{% endblock %}