{% extends 'main.html' %}
{% block content %}
{% include 'status.html' %}
{% include 'style.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_for_tables.css' %}">


<body>
    <div class="row">
		<div class="col-md-12">
		<h5>Ваши подчиненные</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Имя</th>
					<th>Фамилия</th>
                    <th>Статус сотрудника</th>
					<th>Стаж</th>
					<th>Номер телефона</th>
					<th>Почта</th>

				</tr>

				{% for assistant in detective_assistants_all %}
					<tr>
						<td>{{assistant.first_name}}</td>
                        <td>{{assistant.surname}}</td>
						<td>{{assistant.status}}</td>
						<td>{{assistant.experience}}</td>
						<td>{{assistant.tel_number}}</td>
						<td>{{assistant.e_email}}</td>


					</tr>
				{% endfor %}


			</table>
		</div>
	</div>
    </div>



</body>
{% endblock %}