{% extends 'main.html' %}
{% block content %}
{% include 'style.html' %}


<body>
<form method="post">
     {% csrf_token %}

       <div class="justified">
        <textarea rows="20" cols="75"
          maxlength="1000" name="assign_task" required></textarea>
    </div>

    <div class="types_of_orders" style="margin-left: 20px; margin-top: 20px;">
	<select name="type" id="types">
    {% for type in types %}
  	<option value="{{type.pk}}" style="background-color: #A5c9ca;">{{type}}</option>
    {% endfor %}
</select>
</div>

	<input type="submit" name="calculate" value="Поручить задачу"
		   style="background-color: #2c3333; color: white;
		   margin-top: 45px; margin-left: 20px; border-color: #A5c9ca;">

 </form>
</body>

{% endblock %}