{% extends 'main.html' %}
{% block content %}
{% include 'status.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_for_tables.css' %}">


<body>
<div class="row">
	<div class="col-md-12">
		<h5 style="text-align:center; color:#2c3333;">Клиенты агентства</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Имя клиента</th>
					<th>Номер телефона</th>
					<th>Почта клиента</th>

				</tr>

				{% for client in clients %}
					<tr>
						<td>{{client.full_name}}</td>
                        <td>{{client.tel_number}}</td>
						<td>{{client.user.email}}</td>

					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

</body>

{% endblock %}