
{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}


 <style>
   .table  {
    width: 80%; /* Ширина таблицы */
    border: 1px solid grey; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
    background-color: black;
   }
   td {
    text-align: left; /* Выравниваем текст по центру ячейки */
    background-color; black;
    color: #2c3333;
   }
   th{
   background-color:#2c3333;
   color:#A5c9ca;
   text-align:center;
   }
   td{
    background-color:A5c9ca;
   	color:#2c3333;
   	text-align:center;
   }
   body{
   background-color:#e7f6f2;
   }
</style>

<body>
<div class="row">
	<div class="col-md-12">
		<h5 style="text-align:center; color:#2c3333;">Клиенты агентства</h5>
		<hr>
		<div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Имя клиента</th>
					<th>Номер телефона</th>
					<th>Почта клиента</th>

				</tr>

				{% for client in clients %}
					<tr>
						<td>{{client.full_name}}</td>
                        <td>{{client.tel_number}}</td>
						<td>{{client.user.email}}</td>

					</tr>
				{% endfor %}

			</table>
		</div>
	</div>


	</div>


</body>
{% endblock %}