{% extends 'main.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_for_tables.css' %}">


<body>
<div class="row">
	<div class="col-md-12">
		<h5 style="text-align:center; color:#2c3333;">Отчеты детективов</h5>
		<hr>
		<div class="card card-body">
			{% if reports is not None %}

			<table class="table table-sm">
				<tr>

					<th>Дата создания</th>
					<th>Отчет</th>

				</tr>

				{% for report in reports %}
					<tr>
						<td>{{report.report_date}}</td>
                        <td>{{report.detective_report}}</td>

					</tr>
				{% endfor %}

			</table>
			{% endif %}
		</div>
	</div>
	</div>

</body>

{% endblock %}