{% extends 'main.html' %}

{% block content %}



{% include 'style.html' %}
<p><h3 style="text-align: center">Посчитать</h3></p>
<body>
 <form method="post">
     {% csrf_token %}

<!--     <p>{{rejected_by_client}}</p>-->


     <p>{{ rejected_by_client }}</p>

     {{ form.label }}
     {{ form.as_p }}

<div class = 'button'>
            <button
                    class="btn btn-primary" type="submit" >
                    <p style="text-align:center">Посчитать</p>
            </button>
            </div>
     </form>
</body>
{% endblock %}








